[Desktop Entry]
Encoding=UTF-8
Name=โครงการระบบ e-learning ของการศึกษาทางไกลผ่านดาวเทียม
Type=Link
URL=http://edltv.dlf.ac.th/primary/
Icon=text-html
Name[en_US]=โครงการระบบ e-learning ของการศึกษาทางไกลผ่านดาวเทียม ชั้นประถม
